body{
    background-color: #ffee003d;
}
.mobile{
    display: none;
}
/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 768px) { 
    .mobile{
        display: block;
    }
 }
